.all{
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 50px;
}
.head{
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: ghostwhite;
  margin-top: -50px;
}
.body{
  padding-left: 256px;
  height: 100%;
  position: relative;
}
.menu{
  width: 256px;
  position: absolute;
  height: 100%;
  margin-left: -256px
}
.content{
  width: 100%;
  height: 100%;
  padding: 10px;
}